.homePage {
  display: flex;
  width: 100%;

  .homeContainer {
    flex: 6;
    background-color: #eee;

    .homeBody {
      padding-top: 4rem;

      .widgets,
      .charts {
        display: flex;
        padding: 1.2rem;
        gap: 2rem;
      }

      .charts {
        padding: 0.4rem 1.2rem;
      }

      .listContainer {
        background-color: white;
        -webkit-box-shadow: 0.2rem 0.4rem 0.8rem 0.08rem black;
        box-shadow: 0.2rem 0.4rem 0.8rem 0.08rem lightgray;
        padding: 2rem;
        margin: 2rem;
        border-radius: 0.8rem;

        .listTitle {
          color: #48647f;
          font-weight: bold;
          margin-bottom: 1.6rem;
        }
      }

      .productReport {
        border-radius: 0.4rem;
        border: 0.08rem solid #48647f;
        display: grid;
        justify-content: center;
        // grid-template-columns: 41vw 41vw;
        // grid-template-rows: 40vh 43vh;
        grid-gap: 1vw 0;

        .productBg {
          display: flex;
          flex-direction: column;
          margin: 0.8rem;
          .title {
            margin: 0.1rem;
            color: #324d67;
          }
          .list {
            border: 0.08rem solid #48647f;
            border-radius: 0.2rem;
            margin: 0 0;
            display: flex;
            justify-content: center;
            align-items: center;

            .MuiTableCell-head {
              // background-color: #bcccdc;
            }
            a {
              color: #000;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
