.order {
  display: flex;
  width: 100%;

  .orderContainer {
    flex: 6;
    background-color: #eee;

    .orderBody {
      padding-top: 4rem;
      margin: 1rem 1.2rem;

      .title {
        color: #324d67;
        margin-bottom: 0.4rem;
        a {
          color: #48647f;
          text-decoration: none;
        }
      }

      .template {
        border-radius: 0.4rem;
        border: 0.08rem solid #48647f;

        .datatable {
          height: 38rem;
          .MuiDataGrid-footerContainer {
            min-height: auto;
            height: 1.6rem;
            .MuiTablePagination-displayedRows {
              font-size: 0.8rem !important;
            }
          }

          .cellAction {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.4rem;

            .viewButton {
              display: flex;
              align-items: center;
              padding: 0.4rem;
              border-radius: 0.2rem;
              border: 0.1rem solid #9eb2c7;
              color: #9eb2c7;
              cursor: pointer;
            }
            .approveButton {
              display: flex;
              align-items: center;
              padding: 0.4rem;
              border-radius: 0.2rem;
              border: 0.1rem solid #25bb32;
              color: #25bb32;
              cursor: pointer;
            }
            .denyButton {
              display: flex;
              align-items: center;
              padding: 0.4rem;
              border-radius: 0.2rem;
              border: 0.1rem solid #bb2525;
              color: #bb2525;
              cursor: pointer;
            }
          }
        }
      }

      .orderFooter {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 1rem;

        .backButton {
          font-size: 1rem;
          justify-content: center;
          text-transform: none;
          margin: 0.8rem 0 0 0;
          padding: 0.2rem 1rem;
          border-radius: 0.2rem;
          color: #fff;
          background-color: #bcccdc;

          &:hover {
            background-color: #829ab0;
          }
        }
      }
    }
  }
}
