.viewVoucher {
  display: flex;
  width: 100%;

  .viewVoucherContainer {
    flex: 6;
    background-color: #eee;

    .viewVoucherBody {
      margin: 1.2rem;
      .title {
        margin-bottom: 0.4rem;
        color: #48647f;
        a {
          color: #48647f;
          text-decoration: none;
        }
      }

      .viewVoucherForm {
        border-radius: 0.4rem;
        border: 0.08rem solid #48647f;
        background-color: #fff;

        .detail {
          .levelHeader {
            display: flex;
            color: #48647f;
            font-weight: bold;
            margin: 0.8rem 0 0 0.8rem;
          }
        }

        .form {
          display: flex;
          flex-direction: column;
          width: 30%;
          min-width: 25vw;
          max-width: 100%;
          margin: 0.8rem;

          .title {
            color: #324d67;
            margin-bottom: 0.2rem;
          }

          .textField {
            background-color: #f1f5f8;
            border-radius: 0.4rem;
            font-size: 1rem;
            .MuiInputBase-root {
              height: 2.4rem;
              .Mui-disabled {
                background-color: #f1f5f8;
                height: 0.4rem;
                font-size: 1rem;
              }
            }
          }
        }

        .descriptionForm {
          display: flex;
          flex-direction: column;
          min-width: 25vw;
          max-width: 100%;
          margin: 0 1.2rem;

          .descriptionTitle {
            color: #48647f;
            font-size: 1rem;
            margin-bottom: 0.4rem;
          }

          .description {
            height: 30rem;
            border-radius: 0.4rem;
            font-size: 0.8rem;
            resize: vertical;
          }
        }

        .groupGroup {
          margin: 1.2rem;
          .title {
            color: #48647f;
            font-size: 1rem;
          }
          .option,
          .variation {
            border-radius: 0.2rem;
            border: 0.08rem solid #48647f;
            background-color: #fff;

            .groupParent {
              margin: 0.2rem;

              .MuiAccordionSummary-root {
                min-height: 2rem;
              }
              .headerParent {
                background-color: #bcccdc;
                height: 1.6rem;
                .MuiAccordionSummary-content {
                  margin: 0;
                }
                .titleParent {
                  color: #48647f;
                  font-size: 1rem;
                }
              }
              .MuiAccordionDetails-root {
                padding: 0;
              }

              .group {
                margin: 1.2rem;

                .form {
                  display: flex;
                  flex-direction: column;
                  min-width: 15vw;
                  max-width: 100%;
                  margin: 1rem;

                  .title {
                    color: #48647f;
                    font-size: 1rem;
                    margin-bottom: 0.4rem;
                  }

                  .textField {
                    border-radius: 0.2rem;
                    font-size: 1rem;
                    .MuiInputBase-root {
                      height: 2.4rem;
                      .Mui-disabled {
                        background-color: #f1f5f8;
                        height: 0.4rem;
                        font-size: 1rem;
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .avatar {
          display: flex;
          flex-direction: column;
          width: 30%;
          min-width: 25vw;
          max-width: 100%;
          margin: 0 1.2rem;

          .titleAvatar {
            color: #48647f;
            font-size: 1rem;
            font-weight: bold;
            margin-bottom: 0.4rem;
          }

          .imageAvatar {
            border: 0.08rem solid black;
            border-radius: 0.4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            width: fit-content;
          }
        }

        .groupParent {
          margin: 2rem 1rem;
          .MuiAccordionSummary-root {
            min-height: 2rem;
          }
          .headerParent {
            background-color: #bcccdc;
            height: 1.6rem;
            .MuiAccordionSummary-content {
              margin: 0;
            }
            .titleParent {
              color: #48647f;
              font-size: 1rem;
            }
          }
          .MuiAccordionDetails-root {
            padding: 0;
          }
        }
      }

      .viewVoucherFooter {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .backButton {
          font-size: 1rem;
          justify-content: center;
          text-transform: none;
          margin: 0.8rem 0rem;
          padding: 0.2rem 1rem;
          border-radius: 0.2rem;
          color: #fff;
          background-color: #bcccdc;

          &:hover {
            background-color: #829ab0;
          }
        }
      }
    }
  }
}
