.createRole {
  display: flex;
  width: 100%;

  .createRoleContainer {
    flex: 6;
    background-color: #eee;

    .createRoleBody {
      padding-top: 4rem;
      margin: 1.2rem;

      .title {
        margin-bottom: 0.4rem;
        color: #48647f;
        a {
          color: #48647f;
          text-decoration: none;
        }
      }

      .createRoleForm {
        border-radius: 0.4rem;
        border: 0.08rem solid #48647f;
        background-color: #fff;

        .form {
          display: flex;
          flex-direction: column;
          width: 30%;
          min-width: 25vw;
          max-width: 100%;
          margin: 0.8rem;

          .title {
            color: #324d67;
            margin-bottom: 0.2rem;
          }

          .textField {
            border-radius: 0.4rem;
            font-size: 1rem;
            .MuiInputBase-root {
              height: 2.4rem;
            }
          }
        }

        .permissionForm {
          display: flex;
          flex-direction: column;
          min-width: 25vw;
          max-width: 100%;
          margin: 0 0.8rem 0.8rem 0.8rem;

          .permissionTitle {
            color: #324d67;
            font-size: 1rem;
            margin-bottom: 0.4rem;
          }

          .select {
            border-radius: 0.4rem;
            font-size: 1rem;
            width: 74rem;
            margin: 0 0.8rem 0 0;

            .MuiSelect-select {
              flex-wrap: wrap;
              overflow: hidden;
              height: 2.4rem !important;
              padding: 0 0.8rem;
              font-size: 1rem;
              display: flex;
              align-items: center;
            }
          }
        }
      }

      .createRoleFooter {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 1rem;

        .createButton {
          font-size: 1rem;
          justify-content: center;
          text-transform: none;
          margin: 0.8rem 0 0 0;
          padding: 0.2rem 1rem;
          border-radius: 0.2rem;
          color: #fff;
          background-color: #829ab0;

          &:hover {
            background-color: #243a52;
          }
        }

        .backButton {
          font-size: 1rem;
          justify-content: center;
          text-transform: none;
          margin: 0.8rem 0 0 0;
          padding: 0.2rem 1rem;
          border-radius: 0.2rem;
          color: #fff;
          background-color: #bcccdc;

          &:hover {
            background-color: #829ab0;
          }
        }
      }
    }
  }
}
