.viewDelivery {
  display: flex;
  width: 100%;

  .viewDeliveryContainer {
    flex: 6;
    background-color: #eee;

    .viewDeliveryBody {
      margin: 1rem 1.2rem;
      .title {
        margin-bottom: 0.4rem;
        color: #48647f;
        a {
          color: #48647f;
          text-decoration: none;
        }
      }

      .viewDeliveryForm {
        border-radius: 0.4rem;
        border: 0.08rem solid #48647f;
        background-color: #fff;

        .customer,
        .product,
        .detail {
          display: flex;
          flex-direction: column;
          .header {
            margin: 0.2rem 0.8rem;
            color: #48647f;
            font-weight: bold;
          }

          .form {
            display: flex;
            flex-direction: column;
            width: 25%;
            min-width: 25vw;
            max-width: 100%;
            margin: 0.8rem;

            .title {
              color: #324d67;
              margin-bottom: 0.2rem;
            }

            .textField {
              background-color: #f1f5f8;
              border-radius: 0.4rem;
              font-size: 1rem;
              .MuiInputBase-root {
                height: 2.4rem;
                .Mui-disabled {
                  background-color: #f1f5f8;
                  height: 0.4rem;
                  font-size: 1rem;
                }
              }
            }
          }

          .template {
            .title {
              display: flex;
              color: #48647f;
              background-color: #fff;
              padding: 1.2rem;
              border-radius: 0.4rem;
            }

            .datatable {
              margin: 1.2rem;
              height: 28rem;
            }
          }
        }

        .text {
          color: #48647f;
          font-size: 1rem;
          padding-right: 1.6rem;
        }
      }

      .viewDeliveryFooter {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 1rem;

        .approveButton {
          font-size: 1rem;
          justify-content: center;
          text-transform: none;
          margin: 0.8rem 0rem;
          padding: 0.2rem 1rem;
          border-radius: 0.2rem;
          background-color: #25bb32;
          color: #fff;

          &:hover {
            background-color: #829ab0;
          }
        }

        .backButton {
          font-size: 1rem;
          justify-content: center;
          text-transform: none;
          margin: 0.8rem 0rem;
          padding: 0.2rem 1rem;
          border-radius: 0.2rem;
          color: #fff;
          background-color: #bcccdc;

          &:hover {
            background-color: #829ab0;
          }
        }
      }
    }
  }
}
